.modelBox {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
  padding: 20px;
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modelBox form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}

.btn {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}
.closeBtn {
  width: 100px;
  height: 30px;
  border-radius: var(--border-radius);
  border: 1px solid var(--error-color);
  font-size: 18px;
  transition: transform 0.5s;
  cursor: pointer;
}
.closeBtn:hover {
  color: var(--font-light);
  background-color: var(--error-color);
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.submitBtn {
  background-color: transparent;
  width: 100px;
  height: 30px;
  border: 1px solid var(--success-color);
  border-radius: var(--border-radius);
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s;
}
.submitBtn:hover {
  color: var(--font-light);
  background-color: var(--success-color);
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.edit {
  color: gray;
  font-size: 24px;
}

@media screen and (max-width: 500px) {
  .edit {
    font-size: 18px;
  }
}
@media screen and (max-width: 440px) {
  .modelBox {
    width: 92%;
  }
}
