<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Verify Email Address</title>

    <style>
      h1 { color: grey; font-weight: 500; font-size: 16px; padding-bottom: 30px;
      } a { color: white; font-size: 18px; font-weight: bold; background-color:
      #09d3ac; padding: 20px 60px 20px 60px; border-radius: 14px;
      text-decoration: none; text-align: center;}
    </style>

  </head>

  <body>
    <h1>{{title}}</h1>
    <a
      style="color: white; text-decoration:none; text-align:center; border-radius: 20px; "
      href={{text}}
    >Login</a>
    <p style="padding-top: 40px;">Click the login button to login.</p>
    <p>Thanks,</p>
    <p>St.Paul's Education Service Account Team</p>
  </body>

</html>